<div class="form-group">
    <ul class="nav nav-tabs">
        <li class="nav-item liPointer">
          <a class="nav-link active" >Home</a>
        </li>
        <li class="nav-item liPointer">
          <a class="nav-link">Profile</a>
        </li>
        <li class="nav-item liPointer">
          <a class="nav-link">Disabled</a>
        </li>
      </ul>
    <div id="tabcontent" class="form-group">
        <div class="d-flex justify-content-around" id="home">
            <div class="mt-3 ml-3">
                <input id="file0" type="file" accept="image/*, application/pdf" style="display: none;">
                <label for="file0">
                    <i><img src="/static/images/uploadFileBnt.svg" width="56" height="56">Upload</i>
                </label>
            </div>
            <div class="mt-4 ml-4">
                <p>Please upload a combined file(img/pdf) of your certification to teach as a credible instructor</p>
            </div>    
        </div>
    </div>
</div>
