<div class="mt-1 ml-3">Welcome to the classroom on live</div>

<div>
    <video width='1000' height='650' controls>
        <source src="http://ec2-18-191-120-135.us-east-2.compute.amazonaws.com:80/hls/test/index.m3u8" type="application/x-mpegURL">
    </video>
</div>