<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/2d8e745a87.js" crossorigin="anonymous"></script>
    <title>Passport app</title>
    <style>
        .tablecss {
            border: 2px solid black;
            margin-left: auto;
            margin-right: auto;
            padding: 2px;
            border-spacing: 35px;
        }
        .checkEmpty {
            font-style: italic;
            font-size: 13px;
            width: 20%;
        }
        .textField {
            padding: 3px;
            text-align: justify;
        }
        .errorField {
            border-color:#f10b0b;
            border-style:solid;
            border-width: 2px;
        }
        .passwordExposecss {
            font-size: 13px;
        }
        .submitButtoncss {
            padding: 10px 60px;
            font-size: 14px;
            text-align: center;
            background-color: #360f34;
            color: #90bba9; 
            border: 2px solid #166483ce;
        }
        .button {
        background-color: #441742;
        color: #90bba9; 
        border: 2px solid #166483ce;
        }
        .button:hover {
            background-color: #6d2169;
            color:#6ad3a7;
        }
    
        .singlerowselectorcss {
            text-align:justify;
        }
        .ui-autocomplete {
            height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 5px;
        }
        .submitcellcss{
            text-align: center;
        }
        .showPwBnt{
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-eye-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z'/><path fill-rule='evenodd' d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z'/></svg>");
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
        }
        .hidePwBnt{
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-eye-slash-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z'/><path d='M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z'/><path fill-rule='evenodd' d='M13.646 14.354l-12-12 .708-.708 12 12-.708.708z'/></svg>");
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
        }
        .liPointer{
            cursor: pointer;
        }
        .invalidFeedback {
            margin-top: 0.25rem;
            font-size: 80%;
            color: #D9831F;
            width: 100%;
        }
        .validFeedback {
            margin-top: 0.25rem;
            font-size: 80%;
            color: #469408;
            width: 100%;
        }
    </style>
    
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="/static/javascripts/MooTools-Core-1.6.0.js"></script>
    <script src="/static/javascripts/MooTools-More-1.6.0.js"></script>
    <div class="container">
        <%- body %>
    </div>

</body>
</html>