<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <p><%= data.fullnametext %>, you have successfully created a <%= data.usertypeselection %> account.</p>
        <p>You can use your username or email to log in:</p>
        <p>username: <%= data.usernametext %></p>
        <p>email   : <%= data.useremail %></p>
    </body>
</html>