<!DOCTYPE html>
<html lang="en" id="html">
    <head>
        <title>Sign up</title>
        <script src="/static/javascripts/MooTools-Core-1.6.0.js"></script>
        <script src="/static/javascripts/MooTools-More-1.6.0.js"></script>
        <style>
            .tablecss {
                border: 2px solid black;
                margin-left: auto;
                margin-right: auto;
                padding: 2px;
                border-spacing: 35px;
            }
            .checkEmpty {
                font-style: italic;
                font-size: 13px;
                width: 20%;
            }
            .textField {
                padding: 3px;
                text-align: justify;
            }
            .errorField {
                border-color:#f10b0b;
                border-style:solid;
                border-width: 2px;
            }
            .passwordExposecss {
                font-size: 13px;
            }
            .submitButtoncss {
                padding: 10px 60px;
                font-size: 14px;
                text-align: center;
                background-color: #360f34;
                color: #90bba9; 
                border: 2px solid #166483ce;
            }
            .button {
            background-color: #441742;
            color: #90bba9; 
            border: 2px solid #166483ce;
            }
            .button:hover {
                background-color: #6d2169;
                color:#6ad3a7;
            }

            .singlerowselectorcss {
                text-align:justify;
            }
            .ui-autocomplete {
                height: 100px;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 5px;
            }
            .submitcellcss{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form id="infoform" name="infoform">
            <table id="infotable" class="tablecss">
                <tr id="fullname_row">
                    <td id="fullname_label">full name: </td>
                    <td>
                        <input type="text" name="fullnametext" size="20" maxlength="20" class="textField" placeholder="Type your full name here"/>
                    </td>
                    <td id="fullnamecheck" class="checkEmpty"></td>
                </tr>
                <tr id="phone_row">
                    <td id="phone_label">phone: </td>
                    <td>
                        <select name="regioncode" size="1"></select>
                        <input type="text" name="phonetext" size="11" maxlength="11" class="textField" placeholder="Phone number"/>
                    </td>
                    <td id="phonecheck" class="checkEmpty"></td>
                </tr>
                <tr id="useremail_row">
                    <td id="useremail_label">email: </td>
                    <td>
                        <input type="text" name="useremail" size="20" maxlength="40" class="textField" placeholder="example@email.com"/>
                    </td>
                    <td id="useremailcheck" class="checkEmpty"></td>
                </tr>
                <tr id="usertype_row">
                    <td id="usertype_label">register as: </td>
                    <td class="singlerowselectorcss">
                        <select name="usertypeselection" size="1">
                            <option value="selectanoption" selected="selected">select an option</option>
                            <option value="student">student</option>
                            <option value="instructor">instructor/professor</option>
                        </select>
                    </td>
                    <td class="checkEmpty"></td>
                </tr>
                <tr id="username_row">
                    <td id="username_label">user name: </td>
                    <td>
                        <input type="text" name="usernametext" size="20" maxlength="20" class="textField" placeholder="Type your username"/>
                    </td>
                    <td id="usernamecheck" class="checkEmpty"></td>
                </tr>
                <tr id="userpassword_row">
                    <td id="userpassword_label">password: </td>
                    <td>
                        <input type="password" name="userpassword" size="20" class="textField" placeholder="Type your password"/>
                        <br />
                        <label for="userpasswordexpose" class="passwordExposecss">see password</label>
                        <input type="checkBox" id = "userpasswordexpose" value="see password" />
                    </td>
                    <td id="userpasswordcheck" class="checkEmpty"></td>
                </tr>
                <tr id="userpasswordconfirm_row">
                    <td id="userpasswordconfirm_label">confirm your password: </td>
                    <td>
                        <input type="password" id="userpasswordconfirm" size="20" class="textField" placeholder="Retype your password"/>
                    </td>
                    <td id="userpasswordconfirmcheck" class="checkEmpty"></td>
                </tr>
                <tr id="submit_row" class="submitcellcss">
                    <td colspan="3">
                        <input type="submit" id="submitbutton" value="Submit" class="submitButtoncss" />
                    </td>
                </tr>
            </table>
        </form>
        <script src="/static/javascripts/sign_up_console.js"></script>
    </body>
</html>
